<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>Voronoi</title>
  <link rel="stylesheet" href="//rawgithub.com/Caged/d3-tip/master/examples/example-styles.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css">
  <link rel="stylesheet" href="/static/bower_components/Leaflet.MousePosition/src/L.Control.MousePosition.css" type="text/css" charset="utf-8">
  <link rel="stylesheet" href="/static/bower_components/kube/css/kube.css" type="text/css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="/static/css/main.less.css">
</head>
<div class="units-container">
  <div class="units-row">
    <h1>NFL Voronoi</h1>
  </div> 
  <div class="units-row units-split">
    <div class="unit-10">
      <div id="table">
      <table class="table-flat">
        {% for s in [] %}
        <tr><!-- style="background-color:{{s.teams[0].pri_color}}" -->
          <td><img src="static/logos/{{s.teams[0].abbr}}_logo.svg"
            height="20px"
            width ="20px">
            <!-- style="box-shadow: 0px 0px 5px 5px {{s.teams[0].sec_color}}; background-color: {{s.teams[0].sec_color}};" -->
          </td>
          <td><h6 style="text-shadow: 0px 0px 4px white">7</h6></td>
        </tr>
        {% endfor %}
      </table></div>
    </div>
    <div class="unit-90">
      <div class="units-row">
        <div id="map"></div>
      </div>
      <div class="units-row">
        <cite>
          Data: <a href="http://www.naturalearthdata.com/downloads/10m-cultural-vectors/10m-populated-places/">Natural Earth, 1:10m Cultural Vectors: Populated Places (Admin-0 capitals)</a>.
        </cite>
        <p>Voronoi diagram of the NFL.</p>
      </div>
    </div>
  </div>
</div>
<!-- <script src="static/kube/js/kube.min.js"></script> -->
<script src="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
<script src="static/bower_components/Leaflet.MousePosition/src/L.Control.MousePosition.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/queue-async/1.0.7/queue.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/d3-tip/0.6.3/d3-tip.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
<script src="static/d3.geo.voronoi.js"></script>
<script src="static/bower_components/d3-plugins/geo/tile/tile.js"></script>
<script src="static/main.js"></script>

</html>
