/* vim: sw=2 
 */
/* @import url(maps.css);  */
@best-bg: steelblue;
@height: 500px;

#map {
  height: @height;
  width: 960px;
  position: relative;
}

path {
  stroke-linejoin: round;
}

.ocean {
  stroke: black;
  fill: grey;
}

.voronoi-border {
  stroke-width: 1;
  fill: none;
}

@region-fill-opacity: 0.5;
.voronoi {
  fill-opacity: @region-fill-opacity;
  /* pointer-events: all; */
  cursor: grabbing;
}

.countries-back {
  stroke: darkgray;
  stroke-width: 1;
  fill: none;
}

.countries-front {
  stroke: lightgrey;
  stroke-width: 0.8;
  fill: none;
}

.high-school {
  stroke: white;
  stroke-width: 0.5;
  stroke-opacity: 0.4;
  fill: black;
  fill-opacity: 0.3;
  transition: fill-opacity 300ms ease;
  &:hover {
    stroke-opacity: 0.7;
    fill-opacity: 0.5;
  }
}

.stadium {
  stroke: white;
  stroke-width: 0.5;
  stroke-opacity: 0.7;
  fill: black;
  cursor: pointer;
}

@mod-color: rgba(216,216,216,1);

#high-school-tooltip {
  display: none;
  width: 200px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  position: absolute;
  padding: 6px;
  border: none;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  color: @mod-color;
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  background: rgba(52,53,73,0.9);
  -webkit-box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.2) ;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.2) ;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.25) ;

  span {
    display: inline-block;
    margin: none;
    padding: none;
  }
  h6 {
    text-align: left;
    margin: 0px;
    padding: 0px;
  }

  .name {
    font: normal 12px/1 Verdana, Geneva, sans-serif;
    text-align: left;
    width: 80%;
    text-align: left;
  }

  .title > .name {
    font: normal 20px/1 Verdana, Geneva, sans-serif;
  }

  .value {
    font: normal 10px/1 Verdana, Geneva, sans-serif;
    color: darken(@mod-color, 20);
    width: 20%;
    text-align: right;
  }
}



@stadium-width: 500px;
.best-team {
  display: none;
  width: @stadium-width;
  height: 100%;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  position: absolute;
  border: none;
  -webkit-border-radius: 2px;
  font: normal 8pt/1 Verdana, Geneva, sans-serif;
  color: rgba(216,216,216,1);
  background:  @best-bg;
  -webkit-box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.2) ;
  box-shadow: 10px 0px 20px -10px rgba(0,0,0,0.9) ;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.25) ;
  /* margin: 0.5em; */
  .header {
    height: 50px;
    text-align: center;
    .stadium-name {
      font-size: 16pt;
    }
    -webkit-box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.2) ;
    box-shadow: 0px 3px 2px 0 rgba(0,0,0,0.2) ;
    padding: 0.5em;
  }
  .row {
    /* margin: 2px; */
  }
  .col {
    padding: 2px;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.25) ;
  }
  .col2 {
    padding: 0.3em; 
    -webkit-box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.2) ;
    box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.2) ;
  }
  .pos {
    text-align: left;
    background: darken(@best-bg, 10%);
  }
  .name {
    text-align: center;
    background: darken(@best-bg, 20%);
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .av {
    text-align: right;
    background: darken(@best-bg, 20%);
  }
  p {
    margin-bottom: 0px;
  }
  .units-padding {
    padding: 0.5em;
  }
  .close {
    position: absolute;
    top: 10px;
    left: @stadium-width - 20px;
    cursor: pointer;
  }
}
